.gerrit-ci h2 {
    width: 900px;
}

.gerrit-ci h2.subsection {
    margin-top: 0;
    border-bottom: none;
}

.gerrit-ci h3 {
    margin-top: 0px;
}

.gerrit-ci .gwt-TextBox {
    margin-left: 20px;
    width: 250px;
}

.gerrit-ci .label {
    font-weight: bold;
}

.gerrit-ci .description {
    margin-top: 10px;
    margin-left: 20px;
    font-weight: lighter;
    font-size: smaller;
}

.gerrit-ci .gwt-ToggleButton  {
    border: none;
    background: none;
    padding:none;
}
