h2 {
    border-bottom: 2px solid;
}

h2.subsection {
    margin-top: 0;
    border-bottom: none;
}

h3 {
    margin-top: 0px;
}

.gwt-TextBox {
    margin-left: 20px;
    width: 200px;
    height: 25px;
    border-radius: 3px;
}

.label {
    font-weight: bold;
}

.description {
    margin-top: 10px;
    margin-left: 20px;
    font-weight: lighter;
    font-size: smaller;
}
