<?xml version='1.0' encoding='UTF-8'?>
<project>
    <description>Publish build created by Gerrit-CI plugin for project: $projectName</description>

    <actions />
    <properties />

    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <keepDependencies>false</keepDependencies>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <concurrentBuild>false</concurrentBuild>

    <scm class="hudson.plugins.git.GitSCM" plugin="git@1.4.0">
        <configVersion>2</configVersion>

        <userRemoteConfigs>
            <hudson.plugins.git.UserRemoteConfig>
                <name>origin</name>
                <url>ssh://${gerritUser}@${host}:${port}/${projectName}.git</url>
                <credentialsId>${credentialsId}</credentialsId>
            </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>

        <branches>
            <hudson.plugins.git.BranchSpec>
                <name>$GERRIT_REFNAME</name>
            </hudson.plugins.git.BranchSpec>
        </branches>

        <disableSubmodules>false</disableSubmodules>
        <recursiveSubmodules>false</recursiveSubmodules>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <authorOrCommitter>false</authorOrCommitter>
        <clean>false</clean>
        <wipeOutWorkspace>false</wipeOutWorkspace>
        <pruneBranches>false</pruneBranches>
        <remotePoll>false</remotePoll>
        <ignoreNotifyCommit>false</ignoreNotifyCommit>
        <useShallowClone>false</useShallowClone>
        <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser" />
        <gitTool>Default</gitTool>

        <submoduleCfg class="list" />
        <relativeTargetDir></relativeTargetDir>
        <reference></reference>
        <excludedRegions></excludedRegions>
        <excludedUsers></excludedUsers>
        <skipTag>true</skipTag>
        <gitConfigName></gitConfigName>
        <gitConfigEmail></gitConfigEmail>
        <includedRegions></includedRegions>
        <scmName></scmName>
    </scm>

    <triggers>
        <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.GerritTrigger
            plugin="gerrit-trigger@2.11.1">
            <spec></spec>
            <gerritBuildStartedVerifiedValue>0</gerritBuildStartedVerifiedValue>
            <gerritBuildSuccessfulVerifiedValue>1</gerritBuildSuccessfulVerifiedValue>
            <gerritBuildFailedVerifiedValue>-1</gerritBuildFailedVerifiedValue>
            <gerritBuildUnstableVerifiedValue>-1</gerritBuildUnstableVerifiedValue>
            <silentMode>false</silentMode>
            <escapeQuotes>true</escapeQuotes>
            <noNameAndEmailParameters>false</noNameAndEmailParameters>
            <buildStartMessage></buildStartMessage>
            <buildFailureMessage></buildFailureMessage>
            <buildSuccessfulMessage></buildSuccessfulMessage>
            <buildUnstableMessage></buildUnstableMessage>
            <buildNotBuiltMessage></buildNotBuiltMessage>
            <buildUnsuccessfulFilepath></buildUnsuccessfulFilepath>
            <customUrl></customUrl>
            <serverName>__ANY__</serverName>
            <allowTriggeringUnreviewedPatches>false</allowTriggeringUnreviewedPatches>
            <dynamicTriggerConfiguration>false</dynamicTriggerConfiguration>
            <triggerConfigURL></triggerConfigURL>
            <triggerInformationAction />

            <triggerOnEvents>
                <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.events.PluginRefUpdatedEvent />
            </triggerOnEvents>

            <gerritProjects>
                <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.GerritProject>
                    <compareType>PLAIN</compareType>
                    <pattern>$projectName</pattern>
                    <branches>
                        <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.Branch>
                            <compareType>REG_EXP</compareType>
                            <pattern>$publishBranchRegex</pattern>
                        </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.Branch>
                    </branches>
                </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.GerritProject>
            </gerritProjects>

            <skipVote>
                <onSuccessful>false</onSuccessful>
                <onFailed>false</onFailed>
                <onUnstable>false</onUnstable>
                <onNotBuilt>false</onNotBuilt>
            </skipVote>
        </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.GerritTrigger>
    </triggers>

    <builders>
        <hudson.tasks.Shell>
            <command>
#!/bin/bash
set -x
set -e
date

git reset --hard
git clean -fdx

${publishCommand}
            </command>
        </hudson.tasks.Shell>
    </builders>

    <buildWrappers>
        <hudson.plugins.timestamper.TimestamperBuildWrapper
            plugin="timestamper@1.5.14" />
        <hudson.plugins.build__timeout.BuildTimeoutWrapper plugin="build-timeout@1.14.1">
            <strategy class="hudson.plugins.build_timeout.impl.AbsoluteTimeOutStrategy">
                <timeoutMinutes>$timeoutMinutes</timeoutMinutes>
            </strategy>
            <operationList/>
        </hudson.plugins.build__timeout.BuildTimeoutWrapper>
    </buildWrappers>
#if($junitEnabled)
   <publishers>
      <hudson.plugins.postbuildtask.PostbuildTask plugin="postbuild-task@1.8">
         <tasks>
            <hudson.plugins.postbuildtask.TaskProperties>
               <logTexts>
                  <hudson.plugins.postbuildtask.LogProperties>
                     <logText>BUILD SUCCESS0</logText>
                     <operator>AND</operator>
                  </hudson.plugins.postbuildtask.LogProperties>
               </logTexts>
               <EscalateStatus>false</EscalateStatus>
               <RunIfJobSuccessful>true</RunIfJobSuccessful>
               <script>$esc.xml($successCommand)</script>
            </hudson.plugins.postbuildtask.TaskProperties>
            <hudson.plugins.postbuildtask.TaskProperties>
               <logTexts>
                  <hudson.plugins.postbuildtask.LogProperties>
                     <logText>BUILD FAILURE1</logText>
                     <operator>AND</operator>
                  </hudson.plugins.postbuildtask.LogProperties>
               </logTexts>
               <EscalateStatus>false</EscalateStatus>
               <RunIfJobSuccessful>false</RunIfJobSuccessful>
               <script>$esc.xml($failedCommand)</script>
            </hudson.plugins.postbuildtask.TaskProperties>
         </tasks>
      </hudson.plugins.postbuildtask.PostbuildTask>
      <xunit>
         <types>
            <JUnitType>
               <pattern>$junitPath</pattern>
               <faildedIfNotNew>true</faildedIfNotNew>
               <deleteOutputFiles>true</deleteOutputFiles>
               <stopProcessingIfError>true</stopProcessingIfError>
            </JUnitType>
         </types>
         <thresholds>
            <org.jenkinsci.plugins.xunit.threshold.FailedThreshold>
               <unstableThreshold />
               <unstableNewThreshold />
               <failureThreshold />
               <failureNewThreshold />
            </org.jenkinsci.plugins.xunit.threshold.FailedThreshold>
            <org.jenkinsci.plugins.xunit.threshold.SkippedThreshold>
               <unstableThreshold />
               <unstableNewThreshold />
               <failureThreshold />
               <failureNewThreshold />
            </org.jenkinsci.plugins.xunit.threshold.SkippedThreshold>
         </thresholds>
      </xunit>
   </publishers>
#end
</project>
